
<nav class="navbar navbar-expand-lg">
<ul style="list-style-type: none;">
  <li><h1 class="navbar-brand">Company Logo here</h1></li>
  <li><h3 class="navbar-brand">Platform logo</h3></li>
</ul> 
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Components</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Case Studies</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Request Demo</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
  </div>
</nav>
<div class="brg">
<img src="../assets/Untitled-4.png" alt="">
</div>
<div class="ordering">
<h1>Why an Ordering Platform</h1>

<ul>
  <li style="float: left; padding-left: 100px;"><img src="../assets/1.png" style="width: 200px;" alt=""><li style="text-align:center">Grow Faster<br> by receiving customers<br> orders from multi-channel,<br> web or mobile.</li></li>
  <li style="float: left; padding-left: 100px;"><img src="../assets/2.png" style="width: 200px; " alt=""><li style="text-align:center">Save time<br> by serving customers<br> through the service<br> app directly.</li></li>
  <li style="float: left; padding-left: 100px;"><img src="../assets/3.png" style="width: 200px; " alt=""><li style="text-align:center">Tell customers<br> availability of service<br> employees, leading to<br> better utilization.</li></li>
  <li style="padding-left: 100px;"><img src="../assets/4.png" style="width: 200px;" alt=""><li style="text-align:center">Reduce cost<br> by shifting customers to digital<br> channels, instead of serving<br> them through phone or email.</li></li>
</ul>
</div>
<div class="work">
<h1>How it works?</h1>
<h3>Whale is a complete ordering system</h3>

<ol>
  <li>Integrate the ordering platform to web or mobile</li><br>
  <li>Servicemen defines availability through a web or mobile calendar.</li><br>
  <li>Customer defines service needs and choose a service time</li><br>
  <li>Order is sent through email or through mobile app to servicemen</li><br>
  <li>Servicemen performs service and customer is informed through email or mobile.</li>
  
</ol><img src="../assets/9814.png" alt="">
</div>


<div class="service">
  <h1>Industry Verticals</h1>
  <h2>Whale fits a vareity of industries</h2>
  <ul>
    <li style="float: left; text-align: center;"><img src="../assets/new-product.png" alt="" style="width: 100px;"><li><br>Product Vertical<br><br> Increase your product sale, by providing service and<br> installation for those products. For example,<br> construction projects use Whale to do installation<br> of products at the same time when customer<br> makes an order of a new product.</li></li>
    <li style="text-align: center;"><img src="../assets/technical-support.png" alt="" style="width: 100px;"><li><br>Service Vertical<br><br> Provide maintenance and fixes of your products<br> (after sales), through an easy to order web or mobile app.<br> For example, music companies use Whale to order<br> maintenance of instruments. Independent freelancers<br> perform services through our intuitive service app.</li>
    </li>
  </ul>
</div>
<div class="platform">
  <h1>What is included?</h1>
    <div class="list">
     1. Ordering Platform<br> 
      <br>Whale platform is capable of taking all type of order combinations:<br> Service only or products combined with 
        services.<br>
        Some Features:-
        <ul style="list-style-type:none;">
          <li>-Calendar availability, so servicemen can define slots and<br> customers can choose them.</li>
          <li>-Define your products and services along with costs in<br> the backend,<br> so you can easily customised them whenever you like.</li>
          <li>-Choose a payment gateway of your choice, making sure customer<br> Is able to pay whatever way the feel.</li>
        </ul> 
      </div><img src="../assets/ordering-platfrom.png" alt="" style="padding-left: 300px;">
    
    <img src="../assets/web-mobile.png" alt="" style="float: left; padding-left: 100px;">
    <div style="text-align: center; padding-top: 50px;">
     2. UI: Web or Mobile Front-end<br>
      <br>Choose weather you want to receive orders through web or<br> Mobile or even both<br> Some Features:<br>
        <ul style="list-style-type: none; text-align: center;">
        <li>- Light weight front end ordering system to service your customers<br> From multi Channel.</li>
        <li>- Choose a theme that matches your brand identity</li>
        <li>- Collect service orders and than send it directly to the corresponding<br> Service man.</li>
      </ul>
    </div>
    <div style="padding-top: 250px; padding-left: 100px;">
     3. Mobile service app (Optional)<br>
      You can choose to send those orders through email or<br> Receive them through a service app.<br>
     
    <ul style="list-style-type: none; float: left;">
    <li>
      - Let service man define their availability slots directly through app
    </li>
    <li>
      - See how many service are upcoming and service history
    </li>
    <li>
      - Show service earnings and reviews
    </li>                     
    </ul><img src="../assets/mobile-app.png" alt="" style="width: 400px; margin-left: 350px;">
    </div>
    
    <img src="../assets/dashboard.png" alt="" style="float: left;">
    <a>
     4. Dashboard<br>
      See all orders and assign services to the serviceman<br> Through the dashboard.<br>
        Some Features:
        <ul style="list-style-type: none;">
          <li>
            - See list of all orders and services
          </li>
          <li>
            - Create service app and users
          </li>
          <li>
            - Do front end customisation, eg. Define new service and<br> Products
          </li>
        </ul>
    </a>    
        
    
  
</div>

<div class="brand">
  <h1>Let’s Get Start With Whale</h1>
</div>

<div class="form">
  <img src="../assets/3545774.png" alt="">
    <div class="contact_us col-lg-4 col-md-4">
      <div class="card-body">
    <h1>Ask For A Free Demo</h1><br>
    <input type="text" class="form-control" placeholder="Full Name"><br>
    <input type="email" class="form-control" placeholder="Email Id"><br>
    <input type="text" class="form-control" placeholder="Mobile number"><br>
    <button class="btn btn-primary">Send</button>
    </div>
</div>
</div>
<router-outlet></router-outlet>

<!-- footer -->

<footer class="footer">
<div class="footer-left">

  <p>
    <a>Company Logo <br> In White</a><br><br>
  Copyright &copy;, 2020</p>
<ul>
  <li>
    <a style="font-weight: bold;">About Us</a>
  </li><br>
  <li>
    <a>Contact</a>
  </li><br>
  <li>
    <a>Terms & Conditions</a>
  </li>
</ul>
<div class="socials">
  <ul style="list-style-type: none; color: white;">
  <li>  <a>Facebook</a></li><br>
  <li>  <a>Instagram</a></li><br>
  <li>  <a>Twitter</a></li>
  </ul>
  
</div>

</div>
</footer>